.map {
    height: 100%;
    transform: translateX(30%) scale(3.2);
    transform-origin: top ;
}
.hovered{
    animation: fadeIn 1s ;
    background-color: red;
    fill: red ;
}
#Gelderland {
    fill: blue;
}
.province {
    fill: red;
    fill-opacity:1;
    fill-rule:evenodd;
    stroke:#000000;
    stroke-width:0.81400001;
    stroke-linecap:butt;
    stroke-linejoin:bevel;
    stroke-miterlimit:10;
    stroke-dasharray:none;
    stroke-opacity:1
}