.mainPage {
    background-color: magenta;
    height: 100vh; /* Ensures full viewport height */
}

.mainPageHeader {
    background-color: red;
}
.mainPageFooter {
    background-color: yellow;
}

.mainBody {
    background-color: lightyellow;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}