
:root {
    --1green: #99E2B4;
    --2green: #78C6A3;
    --3green: #67B99A;
    --4green: #56AB91;
    --5green: #469D89;
    --6green: #248277;
    --7green: #14746F;
    --8green: #036666;
    --9green: #004646;

    --coral: #AB5656;
    --violet: #582C4D;

    --bone: #ECE2D0;
}
@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
    }
    1% {
        opacity: 0;
        visibility: visible;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

/* Main Page */
.mainDiv {
    background-color: var(--4green);
    position: relative;
}
.mainBody {
    background-color: var(--bone);
    position: relative;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    margin: 0 ;
    height: fit-content;
}
.sortButtonsDiv{
    animation: fadeInFromLeft 2s forwards ;
    animation-delay: 1.2s;
    visibility: hidden;

    position: absolute;
    right: 10%;
    top: 2%;
    height: 15%;
    width: 6%;
    border-radius: 10px;
    background-color: var(--4green);

    display: flex;
    flex-direction: column;
    z-index: 5;
}
.sortButton{
    animation: FadeIn 1s forwards;
    animation-delay: 1s ;
    font-size: 1.4vh;

    height: 33.33%;
    padding: 20%;
    border: 0;
    background-color: transparent;
    font-weight: bold;
    color: var(--bone);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#countriesSortButtonDiv{
    top: 20%
}
.sortButton:hover{
    filter: brightness(0.5);
    cursor: pointer;
}
.sortButton.clicked{
    filter: brightness(0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.sortButton.clickedMap{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.tile-listHover .sortButtonsDiv {
    animation: moveToRight 1s;
}
.triangleContainer {
    position: fixed;
    width: 50%;
    top: 0;
    left: 0;
    z-index: 100;
}
.auxTriangle {
    animation: fadeInFromLeft 2s ease-in-out 80ms forwards;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 100;
    pointer-events: none; /*very important in order to not block the :hover of the dropDown-element nth(1)*/
}

.mainTriangle {
    animation: fadeInFromLeft 2s ease-in-out 80ms forwards;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 10;
    pointer-events: none; /*very important in order to not block the :hover of the dropDown-element nth(1)*/
}

.opaqueTriangle {
    animation: fadeInFromLeft 2s ease-in-out 140ms forwards;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 9;
    filter: drop-shadow(0 0 1rem black);
}

@keyframes fadeInDown2 {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
        pointer-events: none;
    }
    1% {
        opacity: 0;
        /*visibility: visible;*/
        transform: translateY(-100%);
    }
    100% {
        opacity: 0.6; /* Set the final opacity to 0.6 */
        transform: translateY(0);
        /*visibility: visible;*/
        pointer-events: auto;
    }
}
.triangleContainer:hover .dropDown-content{
    animation: fadeInDown2 ease-in-out forwards;
    animation-duration: 700ms;
    visibility: visible;
    background-color: transparent;
}
.dropDown-content{
    visibility: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 4;
    filter: drop-shadow(0 0 0.5rem black);
}

.titleHeader {
    background-color: var(--7green);
    color: var(--bone);
    font-size: 6vh;
    text-align: center;
    padding: 1.5em;
    margin: 0;
}
.offsetText{
    display: inline-block; /* Use this to move the Codemetrics title to the right */
    transform: translateX(0vw) ;
}
.animateTitle{
    animation-name: fadeIn ;
    animation-duration: 4s;
}
@keyframes rotateText {
    0% {
        visibility: visible;
        transform: translateX(-200%);
    }
    100%
    {
        transform: translateX(200%);
    }
}
.rotatingText{
    display: inline-block;
    animation: rotateText 10s linear infinite;
    width: 100%;
    font-size: 2.8vh;
    margin:0 ;
    animation-duration: 8s;
}
.rotatingText:nth-child(2) {
    visibility: hidden;
    animation-delay: 6.2s; /* Adjust the delay to match the duration of the animation */
}
.rotatingTextDiv {
    background-color: var(--4green);
    color: var(--bone);
    text-align: center;
    white-space: nowrap;
    padding: 0.4em;
    margin: 0;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    overflow: hidden;
    display: flex;
}

.blurAreaHover{
    filter: blur(10px);
}
.tile-listHover{
    animation: moveToTheRight ease-in-out forwards;
    animation-duration: 700ms;
}
.tile-list {
    width: 60%;
    display: flex;
    flex-direction: column; /* Align the tiles vertically */
    align-items: center; /* Center the tiles horizontally */
    padding: 20px;

    user-select: none;
}
@keyframes moveToTheRight {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(15%) scale(1);
    }
}
.tile{
    position: relative;

    animation: fadeInFromLeft 2s forwards;
    visibility: hidden;
    background: radial-gradient(ellipse, #03666680, #036666A0);
    color: var(--bone);
    height: 6vh;
    margin: 0.5em;

    font-size: 1.6vh;
    font-weight: bold;
    justify-content: right;
    align-items: center;

    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    display: flex;
}
@media (max-width: 450px) {
    .tile-list {
        width: 90%;
        display: flex;
        flex-direction: column; /* Align the tiles vertically */
        align-items: center; /* Center the tiles horizontally */
        padding: 20px;

        user-select: none;
    }
    .tile{
        position: relative;

        animation: fadeInFromLeft 2s forwards;
        visibility: hidden;
        background: radial-gradient(ellipse, #03666680, #036666A0);
        color: var(--bone);
        height: 4vh;
        margin: 0.5em;

        font-size: 1vh;
        font-weight: bold;
        justify-content: right;
        align-items: center;

        box-sizing: border-box;
        border-radius: 20px;
        width: 90%;
        display: flex;
        right : 6% ;
    }
    .tile .slash {
        position: relative;
        font-size: 1.6vh; /* Start with a small font size */
        transform: scale(3.2) translateY(-6%); /* Adjust scale based on height */
        line-height: 1; /* Prevent extra spacing */
        user-select: none;
    }
    .tile .tileRight{
        padding: 6px;
        width: auto;
    }
    .tile .tileLang{
        position: absolute;
        left: 12%;
        font-size: 1.5vh;
    }

    .sortButtonsDiv{
        animation: fadeInFromLeft 2s forwards ;
        animation-delay: 1.2s;
        visibility: hidden;

        position: absolute;
        right: 2%;
        top: 35px;
        height: 14%;
        width: 10%;
        border-radius: 10px;
        background-color: var(--4green);

        display: flex;
        flex-direction: column;
        z-index: 5;
    }
    .tile .tilePlacing{
        filter: drop-shadow(0 0 0rem black);
    }

    #countriesSortButtonDiv{
        top: 30vh ;
    }
}


.tilePlacing{
    filter: drop-shadow(0 0 0.75rem black);
    background-color: red;
    width: 10%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    left: 0;

    display: flex;
    font-size: 2em;
    align-items: center ;
    justify-content: center;
}
.tileLang{
    position: absolute;
    left: 12%;
    font-size: 2em;
}
.tileRight{
    padding: 20px;
    width: auto;
}
.slash {
    position: relative;
    font-size: 3.2vh; /* Start with a small font size */
    transform: scale(2.5) translateY(-10%); /* Adjust scale based on height */
    line-height: 1; /* Prevent extra spacing */
    user-select: none;
}
.dropDown-element{
    height: 33.33%;
    width: 100%;
    background-color: var(--3green) ;
    box-shadow: inset 0 0 0.9rem black;
    position: relative;
    z-index: 10;
    cursor: pointer;

    display: flex; /* Make it a flex container */
    flex-direction: column;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.dropDown-element:hover{
    animation: ZoomOut forwards;
    animation-duration: 200ms;
    box-shadow: inset 0 0 1.6rem black;
    filter: drop-shadow(0 0 0.25rem) brightness(0.75);
    z-index: 20;
    border-radius: 10px;
}
@keyframes ZoomOut {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.07) translateX(10%);
    }
}
@keyframes fadeInFromTop2 {
    0% {
        visibility: visible;
        opacity: 0; /* Start with opacity 0 */
    }
    100% {
        visibility: visible;
        opacity: 1; /* End with opacity 1 */
    }
}
.dropDown-element.clicked .ddElement-option {
    animation: fadeInFromTop2 200ms ease-in-out forwards;
    pointer-events: visible;
}

.dropDown-element:not(:hover) .ddElement-option {
    pointer-events: none;
    display: none;
}
.ddInitialText{
    font-size: 2vh;
    font-weight: bold;
    pointer-events: none;
    z-index: 25;

    bottom: 50%;
    position: absolute;
}
.dropDown-element.clicked .ddInitialText {
    display: none;
}
.dropDown-element:not(:hover) .ddInitialText {
    display: flex;
}
.ddElement-option{
    width: 100%;
    border: 1px solid black;
    z-index: 30;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.25vh;
    font-weight: bold;
    color: black ;


    visibility: hidden;
    display: flex; /* Make it a flex container !!! */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    pointer-events: none;
}
.ddElement-option:hover {
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 1);
}

.mainPageFooter {
    background-color: var(--9green);
    height: 15%;
    min-height: 15vh;
    bottom: 0 ;
    position: relative;
    padding: 5vh ;

    border-top: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6vh;
    color: var(--bone);
    flex-direction: column;
}
